.create-objects {
    margin-left: 20px;
    margin-top: 20px;
}

.input-form {
    margin-bottom: 20px;
}

.button-bar {
    display: inline-grid;
}

.button-bar button {
    margin-bottom: 10px;
}

.input-form {
    width: 300px;
}

.error {
    color:rgb(189, 8, 8)
}

.success {
    color: green;
}